{% extends '_layout.' + getConfig('viewExtension') %}

{% block headExtends %}
    <title>{{ item.title }}</title>
    {{ getPlugin("page_"+ item.id,"head_tag") | async | default_seo_value(item.title, 'bootstrap, corporate, html, responsive, corlate', 'Free Responsive Business HTML Template') | safe }}
    {{ getPlugin('facebook', 'head_tag', {url: url, fb_share_type: 'article', fb_share_image: item.image, fb_share_description: item.intro_text }) | async | safe }}
{% endblock %}

{% block content %}
    <!--container start-->
    <div class="page">
        <div class="container">

            <div class="row">

                <!--blog start-->
                <div class="col-lg-9">
                    <div class="blog-item">
                        <div class="row">
                            {% if item.image %}
                                <div class="col-lg-push-2 col-sm-push-2 col-lg-10 col-sm-10">
                                    <div>
                                        <img class="img-responsive img-blog" src="{{ item.image }}" alt=""/>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <!-- noi dung bai viet -->

                            <div class="col-lg-push-2 col-sm-push-2 col-lg-10 col-sm-10">
                                <h1>
                                    <a href="#">
                                        {{ item.title |safe }}
                                    </a>
                                </h1>

                                <p>{{ item.full_text |safe }}</p>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-lg-3">

                </div>


            </div>

        </div>
    </div>

{% endblock %}