{% extends '_layout.twig' %}

{% block cssExtends %}
    <link href="/backend/adminLTE/assets/plugins/cropit/jquery.avatar.css" rel="stylesheet"/>
    <link href="/backend/adminLTE/assets/plugins/select2/select2.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form id="edit-form" method="post">
                {{ toolbar | safe }}

                <div class="box box-solid box-primary">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ __('all_table_column_username') }} <span
                                                class="required"> *</span></label>
                                    <input type="text" class="form-control" name="user_login"
                                           value="{{ item.user_login }}" required="required"/>
                                </div>

                                <div class="form-group">
                                    <label>{{ __('all_table_column_fullname') }}<span
                                                class="required"> *</span></label>
                                    <input type="text" class="form-control" name="display_name"
                                           value="{{ item.display_name }}" required="required"/>
                                </div>

                                <div class="form-group">
                                    <label>{{ __('all_table_column_email') }}<span class="required"> *</span></label>
                                    <input type="email" class="form-control" name="user_email"
                                           value="{{ item.user_email }}" required="required"/>
                                </div>

                                <div class="form-group">
                                    <label>{{ __('all_table_column_phone') }}<span class="required"> *</span></label>
                                    <input type="text" class="form-control" name="phone"
                                           value="{{ item.phone }}" required="required"/>
                                </div>

                                <div class="form-group">
                                    <label>{{ __('all_table_column_url') }}</label>
                                    <input type="text" class="form-control" name="user_url"
                                           value="{{ item.user_url }}"/>
                                </div>

                                {% if role_ids %}
                                    <div class="form-group">
                                        <label>{{ __('all_table_column_current_role') }} <span
                                                    class="required"> * </span></label>
                                        <select class="table-group-action-input form-control input-medium"
                                                name="role_id" required="required">
                                            {% for roleid in role_ids %}
                                                {% set selected = "" %}
                                                {% if roleid.id == user.role_id %}
                                                    {% set selected = "selected" %}
                                                {% endif %}
                                                <option value="{{ roleid.id }}" {{ selected }}>{{ roleid.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}

                                {% if roles %}
                                    <div class="form-group">
                                        <label for="role_ids">{{ __('all_table_column_role') }}
                                            <span class="required"> *</span>
                                        </label>
                                        <select multiple="multiple" name="role_ids" id="role_ids"
                                                class="form-control">
                                            {% for role in roles %}
                                                <option value="{{ role.id }}">{{ role.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>{{ __('all_table_column_status') }}<span
                                                    class="required"> *</span></label>
                                        <select class="table-group-action-input form-control input-medium"
                                                name="user_status" value="{{ item.user_status }}" required>
                                            {% if item.user_status == 'publish' %}
                                                <option value="publish"
                                                        selected>{{ __('all_table_column_activation') }}</option>
                                                <option value="un-publish">{{ __('all_table_column_deactivation') }}</option>
                                            {% else %}
                                                <option value="publish">{{ __('all_table_column_activation') }}</option>
                                                <option value="un-publish"
                                                        selected>{{ __('all_table_column_deactivation') }}</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    {% if item %}
                                        <a class="btn btn-sm btn-danger" data-toggle="modal" href="#confirm">
                                            <i class="fa fa-remove"></i> {{ __('delete') }}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>

                            <div class="col-md-6">
                                {% if not item or create %}
                                    <div class="form-group">
                                        <label>{{ __('all_table_column_password') }} <span
                                                    class="required"> *</span></label>
                                        <input type="password" class="form-control" id="user_pass" name="user_pass"
                                               required="required"/>
                                    </div>

                                    <div class="form-group">
                                        <label>{{ __('m_users_backend_views_new_pass_confirm') }}<span
                                                    class="required"> *</span></label>
                                        <input type="password" class="form-control" id="confirm_pass"
                                               required="required"/>
                                    </div>
                                {% endif %}

                                <div class="form-group">
                                    <label>{{ __('m_users_backend_views_new_avatar') }} <span class="help-block"
                                                                                              style="display: inline;">(128x128px) </span></label>
                                    <a href="#" id="avt" class="btn btn-primary btn-block"><i class="fa fa-upload"></i>
                                        {{ __('m_users_backend_views_new_choose_image') }}</a>

                                    <img style="margin: 15px 0" class="img img-thumbnail" id="user_image"
                                         src="{{ item.user_image_url }}"/>
                                    <input type="hidden" name="user_image_url" value="{{ item.user_image_url }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="confirm" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">{{ __('m_users_backend_views_new_delete_header') }}</h4>
                </div>
                <div class="modal-body">
                    {{ __('m_users_backend_views_new_delete_confirm_alert') }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('cancel') }}</button>
                    <button type="button" class="btn btn-danger"
                            onclick="return deleteUser();">{{ __('delete') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsExtends %}
    <script src="/backend/adminLTE/assets/plugins/cropit/jquery.cropit.min.js" type="text/javascript"></script>
    <script src="/backend/adminLTE/assets/plugins/cropit/jquery.avatar_cropit.js" type="text/javascript"></script>
    <script src="/backend/adminLTE/assets/plugins/select2/select2.min.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $.callAvatarModal($('#avt'), {
                root: '/avatar-gallery/',
                input_elem: 'input[name=user_image_url]',
                preview_elem: '#user_image',
                form: '#edit-form'
            });

            //begin init select2 role
            var select2 = $('#role_ids');
            select2.select2({
                placeholder: "{{ __('all_table_column_role_placeholder') }}",
                templateSelection: function (option) {
                    var text = $(option.element).text().trim();
                    text = text.replace(/^[—]+/, '');
                    return text;
                }
            });
            {% if item.role_ids %}
            var temp = '{{ item.role_ids | safe }}';
            temp = temp.split(',');
            select2.val(temp).trigger('change');
            {% endif %}
        });

        var password = document.getElementById("user_pass")
                , confirm_password = document.getElementById("confirm_pass");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("{{ __('m_users_backend_views_new_password_not_match') }}");
            } else {
                confirm_password.setCustomValidity('');
            }
        }
        if (password != null) {
            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;
        }

        {% if item and not create %}
        function deleteUser() {
            $.ajax({
                url: '/admin/users',
                type: 'DELETE',
                data: {
                    ids: {{ item.id }}
                }
            }).done(function (result) {
                window.location.href = "/admin/users/";
            });
        }
        {% endif %}

    </script>
{% endblock %}