{% extends '_layout.twig' %}

{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <h1>
                        Blog
                    </h1>
                </div>
                <div class="col-lg-8 col-sm-8">
                    <ol class="breadcrumb pull-right">
                        <li>
                            <a href="/">
                                Home
                            </a>
                        </li>
                        <li class="active">
                            Blog
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-9 ">
                {% for post in posts %}
                    <div class="blog-item">
                        <div class="row">
                            <div class="col-lg-2 col-sm-2">
                                <div class="date-wrap">
                                    <span class="date">11</span>
                                    <span class="month">January</span>
                                </div>
                            </div>
                            <div class="col-lg-10 col-sm-10">
                                <div class="blog-img">
                                    <img src="http://techmaster.vn/{{ post.image }}" alt=""/>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-sm-2 text-right">
                                <div class="author">
                                    By <a href="#">Admin</a>
                                </div>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="javascript:;">
                                            <em>travel</em>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <em>tour</em>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <em>recreation</em>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <em>tourism</em>
                                        </a>
                                    </li>
                                </ul>
                                <div class="st-view">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="javascript:;">
                                                209 View
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                23 Share
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                15 comments
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-10 col-sm-10">
                                <h1>
                                    <a href="/blog/{{ post.id }}/{{ post.alias }}">
                                        {{ post.title }}
                                    </a>
                                </h1>

                                <p>
                                    {{ post.intro_text | safe }}
                                </p>
                                <a href="/blog/{{ post.id }}/{{ post.alias }}" class="btn btn-primary">
                                    Continue Reading
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="text-center">
                    {{ pagination(totalPage, currentPage, '/blog/page-{page}') | safe }}
                </div>
            </div>

            <div class="col-lg-3">
                <div class="blog-side-item">
                    <div class="search-row">
                        <input type="text" class="form-control" placeholder="Search here">
                    </div>

                    {{ "right-sidebar" | getSidebar | safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
