<div class="row">
    <div class="col-md-6">
        <div class="box-body">
            <form method="post" action="/admin/plugins/seo/save" class="tab-pane fade active in"
                  id="{{ pluginName + "_form" }}">
                <div class="form-group">
                    <label for="meta_keywords">Keywords</label>
                    <input name="meta_keywords" id="meta_keywords" class="form-control" value="{{ seo.meta_keywords }}"
                           type="text"/>
                </div>

                <div class="form-group">
                    <label for="page_title">Page title</label>
                    <input name="page_title" id="page_title" class="form-control" value="{{ seo.page_title }}"
                           type="text"/>
                </div>

                <div class="form-group">
                    <label for="meta_description">Meta description</label>
                    <textarea name="meta_description" id="meta_description" class="form-control"
                              rows="3" onkeyup="countCharacter()">{{ seo.meta_description }}</textarea>

                    <p class="help-block" id="counter">
                        {{ __('p_seo_meta_description_help') }}
                        {{ __('p_seo_meta_description_now') }} <span style="color: #FF8722" id="character_count">0</span> {{ __('p_seo_meta_description_characters') }}
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function countCharacter() {
        var s = document.getElementById('meta_description').value.trim()
                .replace(/\n/, '').replace(/\r/, '');
        console.log(s.toString());
        document.getElementById('character_count').innerText = s.length;
    }
</script>
