<div class="picked_post">
    <h3>
        {{ widget.title }}
    </h3>

    <ul class="list-unstyled">
        {% for post in posts %}
            {% if post.published_at %}
                <li>
                    <a href="/blog/{{ post.id }}/{{ post.alias }}">
                        {{ post.title }}
                        <p>{{ post.intro_text | title(50, '...') }}</p>
                    </a>

                    <p><i>{{ post.published_at | moment().format('LL') }}</i></p>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>