<div class="picked_post">
    <h3>{{ widget.title }}</h3>

    {% for post in posts %}
        <div class="media">
            <a class="pull-left feature_image" href="/blog/posts/{{ post.id }}/{{ post.alias }}">
                <img class=" " src="{{ post.image }}" alt="">
            </a>
            <div class="media-body">
                <h5 class="media-heading">
                    <a href="/blog/posts/{{ post.id }}/{{ post.alias }}">
                        {{ post.published_at | moment('LL') }}
                    </a>
                </h5>
                <p>
                    {{ post.intro_text | title(50, '...') | safe }}
                </p>
            </div>
        </div>
    {% endfor %}
</div>