{% extends '_layout.twig' %}

{% block cssExtends %}
    <style>
        .widget-list {
            font-size: 15px;
        }

        .widget-list > li, .sidebar-widget > li {
            position: relative;
        }

        .sidebar-widget {
            padding: 5px;
            min-height: 50px;
            overflow: auto;
            z-index: 9999;
        }

        .widget-item {
            display: block;
            border: 1px solid;
            line-height: 35px;
            padding-left: 15px;
            background-color: aliceblue;
            margin-bottom: 10px;
            cursor: move;
        }

        .widget-list .placeholder {
            display: none;
        }

        .placeholder {
            margin-bottom: 10px;
            height: 37px;
            border: 1px dashed #000000;
        }

        .open {
            display: block;
        }

        .close {
            display: none;
        }

        .expand_arrow {
            position: absolute;
            top: 6px;
            right: 10px;
            width: 50px;
            font-size: 24px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">Available Widgets</h3>
                </div>

                <div class="box-body">
                    {% macro widget_list(widget) %}
                        <li class="widget-item" data-alias="{{ widget.name }}">
                            {{ widget.title }}
                        </li>
                    {% endmacro %}

                    <div class="row">
                        <div class="col-md-6">
                            <ul class="widget-list list-unstyled">
                                {% for widget in widgets %}
                                    {% if loop.index <= widgets.length/2 %}
                                        {{ widget_list(widget) }}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <ul class="widget-list list-unstyled">
                                {% for widget in widgets %}
                                    {% if loop.index > widgets.length/2 %}
                                        {{ widget_list(widget) }}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7 sidebar-list">
            <div class="row">
                {% macro sidebar_list(sidebar) %}
                    <div class="box box-solid box-info" id="{{ sidebar.name }}">
                        <div class="box-header">
                            <h3 class="box-title">{{ sidebar.title }}</h3>

                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="box-body" id="{{ sidebar.name }}">
                            <ul class="sidebar-widget list-unstyled">
                                {% for widget in sidebar.widgets %}
                                    <li id="{{ widget.data.id }}">
                                        <div class="widget-item">{{ widget.data.widget_title }}</div>
                                        <a href="#" class="fa fa-caret-left expand_arrow"
                                           onclick="return showDetail(this);"></a>

                                        <div class="box box-solid close">
                                            <div class="box-body">{{ widget.setting | safe }}</div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endmacro %}

                <div class="col-md-6">
                    {% for sidebar in sidebars %}
                        {% if loop.index <= sidebars.length/2 %}
                            {{ sidebar_list(sidebar) }}
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="col-md-6">
                    {% for sidebar in sidebars %}
                        {% if loop.index > sidebars.length/2 %}
                            {{ sidebar_list(sidebar) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsExtends %}
    <script src="/backend/{{ getConfig('backendTheme') }}/assets/plugins/jQueryUI/jquery-ui.min.js"></script>
    <script src="/backend/{{ getConfig('backendTheme') }}/dist/js/sidebars.js"></script>
{% endblock %}

