{% extends '_layout.twig' %}

{% block cssExtends %}
    <link href="/backend/adminLTE/assets/plugins/select2/select2.css" rel="stylesheet">
    <style type="text/css">
        .dd {
            position: relative;
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 13px;
            line-height: 20px;
        }

        .dd-list {
            display: block;
            position: relative;
            margin: 10px 0 0 0;
            padding: 0;
            list-style: none;
        }

        .dd-list .dd-list {
            padding-left: 30px;
        }

        .dd-collapsed .dd-list {
            display: none;
        }

        .dd-item, .dd-empty, .dd-placeholder {
            display: block;
            position: relative;
            margin: 0;
            padding: 0;
            min-height: 20px;
            font-size: 18px;
            line-height: 32px;
            margin-bottom: 10px;
        }

        .box-body label {
            font-size: 16px;
        }

        .dd-item label {
            font-size: 16px;
            font-weight: 500;
        }

        .dd-item > .box.box-solid {
            margin-top: -5px;
        }

        .dd-handle {
            display: block;
            height: 45px;
            margin: 5px 0;
            cursor: move;
            padding: 5px 10px;
            color: #333;
            text-decoration: none;
            font-weight: 400;
            border: 1px solid #aaa;
            background: #fafafa;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .dd-handle:hover {
            color: #2ea8e5;
            background: #fff;
        }

        .dd-item > button {
            display: block;
            position: relative;
            cursor: pointer;
            float: left;
            width: 25px;
            height: 20px;
            margin: 5px 0;
            padding: 0;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            border: 0;
            background: transparent;
            font-size: 12px;
            line-height: 1;
            text-align: center;
            font-weight: bold;
        }

        .dd-item > button:before {
            content: '+';
            display: block;
            position: absolute;
            width: 100%;
            text-align: center;
            text-indent: 0;
        }

        .dd-item > button[data-action="collapse"]:before {
            content: '-';
        }

        .dd-placeholder, .dd-empty {
            margin: 5px 0;
            padding: 0;
            min-height: 30px;
            background: #f2fbff;
            border: 1px dashed #b6bcbf;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .dd-empty {
            border: 1px dashed #bbb;
            min-height: 100px;
            background-color: #e5e5e5;
            background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
            background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
            background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
            background-size: 60px 60px;
            background-position: 0 0, 30px 30px;
        }

        .dd-dragel {
            position: absolute;
            pointer-events: none;
            z-index: 9999;
        }

        .dd-dragel > .dd-item .dd-handle {
            margin-top: 0;
        }

        .dd-dragel .dd-handle {
            -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
            box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
        }

        @media only screen and (min-width: 700px) {
            .dd {
                float: left;
                width: 99%;
            }

            .dd + .dd {
                margin-left: 2%;
            }
        }

        .dd-hover > .dd-handle {
            background: #2ea8e5 !important;
        }

        .dd-dragel > .dd3-item > .dd3-content {
            margin: 0;
        }

        .dd3-item > button {
            margin-left: 30px;
        }

        .expand_arrow {
            position: absolute;
            top: 10px;
            right: 10px;
            text-align: center;
            width: 50px;
            font-size: 25px;
        }

        .btn-add-menu-wrapper {
            display: table;
            width: 100%;
        }

        .btn-add-menu {
            margin-top: 5px;
            float: right;
        }

        #name {
            width: 99%;
            height: 40px;
            font-size: 16px;
        }

        .arr-module-pagination {
            text-align: center;
        }

        .information {
            color: #808080;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <form method="post" id="edit-form">

            <div class="col-md-12" style="margin-bottom: 10px;">
                {{ toolbar | safe }}
            </div>

            <div class="col-md-4">
                <div class="box box-primary arr-module-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ __('m_menus_backend_views_new_box_title') }}</h3>

                        <div class="box-tools" style="width: 100%;">
                            <button type="button" class="btn btn-box-tool" style="width: 100%; text-align: right;"
                                    onclick="collapseBox(this);">
                                <i class="fa fa-minus arr-collapse-icon"></i>
                            </button>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <label for="custom_link_title">{{ __('m_menus_backend_views_new_custom_link_title') }}</label>
                            <input class="form-control" id="custom_link_title" type="text"/>
                        </div>

                        <div class="form-group">
                            <label for="custom_link_url">{{ __('m_menus_backend_views_new_custom_link_url') }}</label>
                            <input class="form-control" id="custom_link_url" placeholder="http://..." type="text"/>
                        </div>

                        <div class="form-group btn-add-menu-wrapper">
                            <button type="button" class="btn btn-primary btn-add-menu"
                                    onclick="return addCustomLink();">
                                {{ __('m_menus_backend_views_new_btn_add_menu') }}&nbsp;
                                <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>

                {% for module in setting_menu_feature %}
                    {% if module.route %}
                        <div class="box box-primary arr-module-box collapsed-box">
                            <div class="box-header with-border">
                                <h3 class="box-title">{{ module.title }}</h3>

                                <div class="box-tools" style="width: 100%;">
                                    <button type="button" class="btn btn-box-tool"
                                            style="width: 100%; text-align: right;"
                                            onclick="collapseBox(this); loadModuleDetail(this,'{{ module.list }}' ,'{{ module.route }}', 1, '', {{ module.search }});">
                                        <i class="fa fa-plus arr-collapse-icon"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="box-body"></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-8">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="name"
                                       style="margin-bottom: 10px; font-size: 20px;">{{ __('m_menus_backend_views_new_form_menu_name') }}</label>
                                <input type="text" class="form-control" name="name" id="name" value="{{ menu.name }}"
                                       autocomplete="off" required="required"/>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 60px;">
                            <div class="col-md-12">
                                <label style="font-size: 20px;">{{ __('m_menus_backend_views_new_form_menu_structure') }}</label>

                                <div class="col-md-12">
                                    <div class="dd" id="nestable3">
                                        <ol class="dd-list"></ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="output" name="output"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block jsExtends %}
    <script src="/backend/adminLTE/assets/plugins/select2/select2.min.js" type="text/javascript"></script>
    <script src="/backend/adminLTE/assets/plugins/nestable/jquery.nestable.js"></script>
    <script>
        $(function () {
            // Init popover
            $('.information').popover();

            /* BEGIN init select2 */
            var select2 = $('#menu-location');
            select2.select2({
                placeholder: "Choose Location ...",
                templateSelection: function (option) {
                    var text = $(option.element).text().trim();
                    text = text.replace(/^[—]+/, '');
                    return text;
                }
            });
        });

        function collapseBox(button) {
            var parent = $(button).parent().parent().parent('.box');

            if (parent.hasClass('collapsed-box')) {
                // Collapse all box except this box
                $('.arr-collapse-icon').not($(button).children()).removeClass('fa-minus').addClass('fa-plus');
                var module_box = $('.arr-module-box').not(parent).not('.collapsed-box');
                module_box.children('.box-body').slideUp('fast', function () {
                    module_box.addClass('collapsed-box');
                });

                // Expand this box
                $(button).children('i').removeClass('fa-plus').addClass('fa-minus');
                parent.children('.box-body').slideDown('fast', function () {
                    parent.removeClass('collapsed-box');
                });

                // Re-assign btnLoadModule
                btnLoadModule = button;
            } else {
                // Collapse this box
                $(button).children('i').removeClass('fa-minus').addClass('fa-plus');
                parent.children('.box-body').slideUp('fast', function () {
                    parent.addClass('collapsed-box');
                });
            }
        }

        var btnLoadModule = {};

        function loadModuleDetail(button,listLink , route, page, search, useSearch) {
            $.ajax({
                url: '/admin' + route + '?page=' + page + '&searchStr=' + search
            }).done(function (result) {
                var items = result.items;
                var title_column = result.title_column;
                var link_template = result.link_template;
                var total_pages = result.totalPage;

                var module_detail_view = '<div class="form-group">';

                if (useSearch) {
                    module_detail_view += '<div class="arr-module-search"><div class="input-group input-group-sm">' +
                    '<input class="form-control arr-search-menu-item" type="text" value="' + search + '" />' +
                    '<span class="input-group-btn">' +
                    '<button class="btn btn-default btn-flat" type="button" ' +
                    'onclick="setSearchKeyword(this, \'' + route + '\')">' +
                    '<i class="fa fa-search"></i> Search' +
                    '</button></span></div></div> ';
                }

                if (items && items.length > 0) {
                    for (var i = 0; i < items.length; i++) {
                        // Replace template to get link
                        var link_item = link_template;
                        for (var key in items[i]) {
                            if (items[i].hasOwnProperty(key)) {
                                link_item = link_item.replace(new RegExp('{' + key + '}', 'g'), items[i][key]);
                            }
                        }

                        if (items[i][title_column]) {
                            module_detail_view += '<div class="checkbox">' +
                            '<label><input type="checkbox" name="arr_link_item" value="' + link_item + '">'
                            + items[i][title_column] + '</label></div>';
                        }
                    }
                }

                btnLoadModule = button;
                module_detail_view += getPagination(total_pages, page, route, search, useSearch);

                module_detail_view += '</div><div class="form-group btn-add-menu-wrapper">' +
                '<div class="checkbox" style="float: left;"><label><input type="checkbox" name="arr_link_item" value="'+ listLink +'">List all items</label></div>'+
                '<button type="button" class="btn btn-primary btn-add-menu" ' +
                'onclick="return addNewMenu(this);">' +
                '{{ __('m_menus_backend_views_new_btn_add_menu') }}&nbsp;<i class="fa fa-arrow-circle-right"></i></button></div>';

                $(button).parent().parent('.box-header').next('.box-body').html(module_detail_view);

                // Remove call ajax after first call
                $(button).attr('onclick', 'collapseBox(this);');
            });
        }

        function getPagination(total_pages, current_page, route, search, useSearch) {
            var pagination = '';

            if (total_pages > 1) {
                var start_index = 1;

                if (total_pages > 6) {
                    if (current_page > 4) {
                        start_index = start_index + current_page - 4;
                    }
                    if (total_pages - current_page < 6) {
                        start_index = total_pages - 5;
                    }
                }

                pagination += '<ul class="pagination pagination-sm no-margin">';

                if (current_page > 1) {
                    pagination += '<li><a href="javascript:void(0)" onclick="loadModuleDetail(btnLoadModule, \'' + route + '\', ' + 1 + ', \'' + search + '\', ' + useSearch + ')">«</a></li>';
                }

                for (var page_index = start_index; page_index <= total_pages; page_index++) {
                    if (page_index == start_index + 6) {
                        break;
                    }

                    if (page_index == current_page) {
                        pagination += '<li class="active">';
                    } else {
                        pagination += '<li>';
                    }
                    pagination += '<a href="javascript:void(0)" onclick="loadModuleDetail(btnLoadModule, \'' + route + '\', ' + page_index + ', \'' + search + '\', ' + useSearch + ')">' + page_index + '</a></li>';
                }

                if (current_page < total_pages) {
                    pagination += '<li><a href="javascript:void(0)" onclick="loadModuleDetail(btnLoadModule, \'' + route + '\', ' + total_pages + ', \'' + search + '\', ' + useSearch + ')">»</a></li>';
                }

                pagination += '</ul><div class="row"></div>';
            }

            return pagination;
        }

        function setSearchKeyword(button, route) {
            // Get search input value to reload items
            var search = $(button).parent('span').prev('input').val();
            loadModuleDetail(btnLoadModule, route, 1, search, true);
        }

        //        $('.box-body').on('keypress', '.arr-search-menu-item', function (e) {
        //            return (e.keyCode == 13);
        //        });

        var number_menu_item = 1;
        var updateOutput = function (e) {
            var list = e.length ? e : $(e.target);

            if (list.data('output')) {
                if (window.JSON) {
                    list.data('output').val(window.JSON.stringify(list.nestable('serialize')));
                } else {
                    list.data('output').val('{{ __('m_menus_backend_views_new_javascript_update_output') }}');
                }
            }
        };

        var obj = '{{ menu.menu_order | safe }}';
        var menu_details = {};

        {% if menu_details %}
        menu_details = {{ menu_details | safe }};
        {% endif %}

        if (obj != '') {
            $.each(JSON.parse(obj), function (index, item) {
                $('#nestable3 ol').first().append(buildItem(item));
            });
        }

        $('#nestable3').nestable().on('change', updateOutput);
        updateOutput($('#nestable3').data('output', $('#output')));

        function renderNewMenu(label_input_value, url_input_value) {
            var htm = renderMenuItemHtml(number_menu_item, label_input_value, url_input_value, '');
            var html = $(htm + '</li>');

            $('#nestable3 > ol').append(html);
            number_menu_item++;
//            $('#nestable3 li:last-child').attr('data-id', number_menu_item++);
            updateOutputValue();

            // Highlight added menu item
            html.children().not('ol').css({
                'background': 'orange',
                'color': 'white'
            });

            // Remove highlight after 0.1s
            setTimeout(function () {
                html.children().not('ol').css({
                    'background': '',
                    'color': ''
                });
            }, 100);

            // Re-init popover
            $('.information').popover();
        }

        function addCustomLink() {
            var custom_link_title = $('#custom_link_title').val();
            var custom_link_url = $('#custom_link_url').val();
            if (custom_link_title == '') custom_link_title = 'Menu Item';
            if (custom_link_url != '') {
                // Create new menu item
                renderNewMenu(custom_link_title, custom_link_url);

                // Reset value
                $('#custom_link_url').val('');
            } else {
                alert('URL is missing!');
            }
        }

        function addNewMenu(button) {
            // Update label, url, title
            var checkbox = $(button).parent('div').parent('.box-body').find('input[type="checkbox"]');
            checkbox.each(function () {
                if ($(this).is(':checked')) {
                    // Create new menu item
                    renderNewMenu($(this).parent('label').text().trim(), $(this).val());

                    // Reset checkbox
                    $(this).prop('checked', false);
                }
            });
        }

        function updateOutputValue() {
            try {
                $("#output").val(JSON.stringify($('#nestable3').nestable('serialize')));
            } catch (e) {
                $("#output").val(JSON.stringify($('#nestable3').nestable('serialize')));
            }
        }

        function changeTitle(element) {
            var header = $(element).parents("li").first().find('.dd-handle')[0];
            header.innerHTML = $(element).val();
        }

        function changePreview(element) {
            var preview = $(element).parents(".row").first().find('a.preview-link');
            preview.attr('href', $(element).val());
        }

        function buildItem(item) {
            number_menu_item++;
            var detail = {};

            for (var i in menu_details) {
                if (item.id == menu_details[i].id) {
                    detail = menu_details[i];
                    break;
                }
            }

            if (detail.attribute == null) detail.attribute = '';

            var html = '';
            html += renderMenuItemHtml(detail.id, detail.name, detail.link, detail.attribute);

            if (item.children) {
                html += "<ol class='dd-list'>";
                $.each(item.children, function (index, sub) {
                    html += buildItem(sub);
                });
                html += "</ol>";
            }

            html += "</li>";
            return html;
        }

        function renderMenuItemHtml(id, title, url, attribute) {
            return '<li class="dd-item" data-id="' + id + '">' +
                    '<div class="dd-handle"> ' + title + '</div>' +
                    '<a href="javascript:void(0)" class="fa fa-caret-left expand_arrow" ' +
                    'onclick="return showDetail(this, true);"></a>' +
                    '<div class="box box-solid box-default close" style="display: none;">' +
                    '<div class="box-body">' +
                    '<div class="row">' +
                    '<div class="col-md-7">' +
                    '<div class="form-group">' +
                    '<label><i>{{ __("m_menus_backend_views_new_javascript_render_label_title") }}</i></label>' +
                    '<input type="text" class="form-control" id="title" name="title" onchange="changeTitle(this)" ' +
                    'value="' + title + '" maxlength="40" />' +
                    '<input type="hidden" id="mn_id" name="mn_id" value="' + id + '" />' +
                    '</div>' +
                    '</div>' +
                    '<div class="col-md-5">' +
                    '<div class="form-group">' +
                    '<label><i>{{ __("m_menus_backend_views_new_javascript_render_label_title_att") }} </i>' +
                    '<a class="information" tabindex="0" data-toggle="popover" data-trigger="focus" title="Help" ' +
                    'data-placement="top" data-content="Title Attribute is the title of Menu Item which displays when user hover over The Menu Item. ' +
                    'This attribute can be not supported in almost templates.">' +
                    '<i class="fa fa-info-circle"></i></a></label>' +
                    '<input type="text" class="form-control" id="attribute" name="attribute" ' +
                    'value="' + attribute + '" maxlength="40" />' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<div class="col-md-7">' +
                    '<div class="form-group">' +
                    '<label><i>URL</i></label>' +
                    '<input type="text" class="form-control" id="url" name="url" value="' + url + '" onchange="changePreview(this)" />' +
                    '</div>' +
                    '</div>' +
                    '<div class="col-md-5">' +
                    '<label>&nbsp;</label>' +
                    '<div class="form-group">' +
                    '<div><i>{{ __("m_menus_backend_views_new_javascript_render_label_preview") }}' +
                    '</i><a href="' + url + '" target="_blank" class="preview-link"> ' + title + '</a>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<div class="row"><div class="col-md-12">' +
                    '<a href="javascript:void(0)" class="btn btn-danger" onclick="return removeMenu(this)">' +
                    '<i class="fa fa-remove"></i>{{ __("remove") }}</a> ' +
                    '<a href="javascript:void(0)" class="btn btn-warning" onclick="return showDetail(this, false)">' +
                    '<i class="fa fa-arrow-circle-up"></i>{{ __("close") }}</a>' +
                    '</div></div></div></div>';
        }

        function showDetail(element, isChangeIcon) {
            var box = $(element).parents("li").first().find('.box').first();
            if (box.hasClass('open')) {
                box.slideUp('fast', function () {
                    box.removeClass('open');
                    box.addClass('close');
                });

                if (isChangeIcon) {
                    $(element).removeClass('fa-caret-down');
                    $(element).addClass('fa-caret-left');
                }
                else {
                    var el = $(element).parents('li').first().find('a').first();
                    $(el).removeClass('fa-caret-down');
                    $(el).addClass('fa-caret-left');
                }
            } else {
                box.slideDown('fast');
                box.removeClass('close');
                box.addClass('open');

                if (isChangeIcon) {
                    $(element).removeClass('fa-caret-left');
                    $(element).addClass('fa-caret-down');
                }
            }
            return false;
        }

        function removeMenu(element) {
            // Highlight deleted menu item
            showDetail(element, true);
            var li = $(element).parents("li").first();
            li.children().not('ol').css({
                'background': 'red',
                'color': 'white'
            });
            li.children().find('li').children().not('ol').css({
                'background': 'red',
                'color': 'white'
            });

            // Delete after 0.1s
            setTimeout(function () {
                li.remove();
                $("#nestable3 li").each(function (index) {
                    $(this).attr('data-id', index + 1);
                    $(this).find('#mn_id').first().val(index + 1);
                });
                updateOutputValue();
                number_menu_item--;
            }, 100);

            return false;
        }

        function hideAll() {
            $("#nestable3 .box").each(function (index) {
                $(this).removeClass('open');
                $(this).addClass('close');

                var el = $(this).parents('li').first().find('a').first();
                $(el).removeClass('fa-caret-down');
                $(el).addClass('fa-caret-left');
            });
            return false;
        }
    </script>
{% endblock %}