{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% include 'toolbar.html' %}
            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title"> {{ 'm_configurations_backend_themes_detail_title' | trans(current_theme.name) }}</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th width="5%">{{ 'all_table_column_alias' | trans }}</th>
                            <td>{{ current_theme.alias }}</td>
                        </tr>
                        <tr>
                            <th width="5%">{{ 'all_table_column_author' | trans }}</th>
                            <td>{{ current_theme.author }}</td>
                        </tr>
                        <tr>
                            <th width="5%">{{ 'link' | trans }}</th>
                            <td><a href="{{ current_theme.link }}">{{ current_theme.link }}</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">{{ 'm_configurations_backend_themes_detail_events' | trans(current_theme.name) }}</h3>
                </div>

                <div class="box-body">
                    <table class="table table-bordered">
                        {% for event in current_theme.events %}
                            <tr>
                                <th width="5%">{{ event.name }}</th>
                                <td>{{ event.description }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
