{% extends 'layout.twig' %}


{% block content %}
    <button type="submit" id="saveForm" class="btn btn-success" form="edit-form" style="margin-bottom: 5px;">
        <i class="fa fa-check"></i> {{ __('save') }}
    </button>

    <div class="row">
        <div class="col-md-12">
            <form id="edit-form" method="post" role="form">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs pull-right ui-sortable-handle">
                        <li class="active"><a href="#site-setting" data-toggle="tab" aria-expanded="true">{{ __('m_configurations_backend_index_tab_site')  }}</a></li>
                        <li class="pull-left header"><i class="fa fa-inbox"></i>{{ __('m_configurations_backend_index_tab_setting') }}</li>
                    </ul>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content">
                                <div class="tab-pane active" id="site-setting">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>{{ __('m_configurations_backend_index_label_title') }}</label>
                                            <input type="text" name="title" class="form-control"
                                                   value="{{ config.app.title }}">
                                        </div>

                                        <div class="form-group">
                                            <label>{{ __('m_configurations_backend_index_label_desc') }}</label>
                                            <input type="text" name="description" class="form-control"
                                                   value="{{ config.app.description }}">
                                        </div>
                                    </div>

                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label>{{ __('m_configurations_backend_index_label_language_code') }}</label>
                                            <select name="language" id="language" class="form-control">
                                                {% for key in lang %}
                                                    {% if key == config.language %}
                                                        <option value="{{ key }}" selected>{{ key }}</option>
                                                    {% else %}
                                                        <option value="{{ key }}">{{ key }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>{{ __('m_configurations_backend_index_label_item_per_page') }}</label>
                                                    <input type="text" name="number_item" class="form-control"
                                                           value="{{ config.pagination.numberItem }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}